@model Gallery
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/HotelAdmin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div>
    <div>
        <h5>Id:</h5>
        <p>@Model.Id</p>
    </div>
    <div>
        <h5>Title:</h5>
        <p>@Model.Title</p>
    </div>
    <div>
        <h5>Subtitle:</h5>
        <p>@Model.Subtitle</p>
        
    </div>
     <div>
        <h5>Text:</h5>
        <p> <img width="200px" height="150px" src="~/assets/images/gallery/all/@Model.ImagePath" /></p>
    </div>
    <form method="post">
        <button type="submit" class="btn btn-lg btn-outline-danger">Delete</button>
        <a asp-controller="gallery" asp-action="index"  class="btn btn-lg btn-outline-dark">Back To List</a>
    </form>
</div>