
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/HotelAdmin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<div>
    <div>
        <h4>
            Id
        </h4>
        <p>
            @Model.Id
        </p>
    </div>
    <div>
        <h4>
            Name
        </h4>
        <p>
            @Model.Name
        </p>
    </div>
     <div>
        <h4>
            Image
        </h4>
        <p>
            <img width="150px" height="150px" src="~/assets/images/amenity/@Model.ImageUrl" />
        </p>
    </div>
   <form class="d-flex my-3" method="post">
        <div>
            <button type="submit" class="btn btn-outline-danger" >Delete</button>
        </div>
   <div class="ms-3">
            <a class="btn btn-outline-primary" asp-controller="amenity" asp-action="index">Back to list</a>
        </div>
   </form>
</div>
